<h1>
Articles
[<%= link_to_unless_current 'all', articles_path %> |
<%= link_to_unless_current 'found', found_articles_path %> |
<%= link_to_unless_current 'missed', missed_articles_path %>]
</h1>

<table class="articles">
  <tr>
    <th>Article</th>
    <th>Variants</th>
    <th>My Validation</th>
    <th>Concordance</th>
  </tr>
<% @articles.each do |article| %>
  <tr>
    <td class="title"><%= link_to(article.title, article) %></td>
    <td><%= checkmark(article.variations_count) %></td>
    <td><%= validated?(article, current_user) %></td>
    <td><%= verdicts(article) %></td>
  </tr>
<% end %>
</table>
<%= paginate @articles %>