<h1>
Articles
[<%= link_to_unless_current 'all', articles_path %> |
<%= link_to_unless_current 'found', found_articles_path %> |
<%= link_to_unless_current 'missed', missed_articles_path %>]
</h1>

<ul class="articles">
<% @articles.each do |article| %>
  <li class="article"><%= checkmark(article.variations_count) %><%= link_to(article.title, article, :class => "title") %> <%= validated?(article, current_user) %></li>
<% end %>
</ul>

<%= paginate @articles %>