<div id="<%= dom_id(@article) %>" class="<%= dom_class(@article) %>">
  <p class="source"><%= @article.source %> [<%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed/#{@article.id}", :target => "_blank" %>]<% if @article.doi.present? %> [<%= link_to "Fulltext", "http://dx.doi.org/#{@article.doi}", :target => "_blank" %>]<% end %></p>
  <h2 class="title"><%= @article.title %></h2>
  <p class="abstract"><%= @article.abstract %></p>
  
  <h3>Variation Types</h3>
  <ul class="variation_types">
    <% @article.variation_types.each do |variation_type| %>
    <li><%= link_to variation_type.name, variation_type %></li>
    <% end %>
  </ul>
</div>