<div class="yui3-g">
  <div class="yui3-u-3-4">
    <div id="<%= dom_id(@article) %>" class="<%= dom_class(@article) %>">
      <h2 class="title"><%= mark(@article.title, [@article.variations.map{|v| v.patterns}, @article.genes.map{|g| g.patterns}]) %></h2>
      <p class="abstract"><%= mark(@article.abstract, [@article.variations.map{|v| v.patterns}, @article.genes.map{|g| g.patterns}]) %></p>
      <p class="source"><%= @article.source %> [<%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed/#{@article.id}", :target => "_blank" %>]<% if @article.doi.present? %> [<%= link_to "Fulltext", "http://dx.doi.org/#{@article.doi}", :target => "_blank" %>]<% end %></p>
      <p class="navigation"><%= link_to_unless @article.previous_article.nil?, "  &#9664; Prev".html_safe, article_path(@article.previous_article)%> |
      <%= link_to_unless @article.next_article.nil?, "Next &#9654;".html_safe, article_path(@article.next_article)%></p>
    </div>
  </div>
  <div class="yui3-u-1-4">
    <div class="variations">
      <h3>Variations <%= checkmark(@article.variations_count)%></h3>
      <% if @article.variations_count > 0 %>
      <table>
        <tr>
          <th>Mutation</th>
          <th>Position</th>
        </tr>
        <% @article.variations.each do |variation| %>
        <tr>
          <td><%= variation.mutation_pattern %></td>
          <td><%= variation.position_pattern %></td>
        </tr>
        <% end %>
      </table>
      <% else %>
        <p>No variations found by EMU</p>
      <% end %>
    </div>
    <div class="variation_types">
      <h3>Variation Types</h3>
      <ul>
        <% @article.variation_types.each do |variation_type| %>
        <li><%= link_to variation_type.name, variation_type %></li>
        <% end %>
      </ul>
    </div>
    <div class="validation">
      <h3>Validation</h3>
      <ul>
        <li><%= link_to "Found all variations" %></li>
        <li><%= link_to "Missed variations" %></li>
        <li><%= link_to "See fulltext" %></li>
      </ul>
    </div>
    <div class="genes">
      <h3>Genes</h3>
      <ul>
        <% @article.genes.each do |gene| %>
        <li><%= link_to gene.symbol, gene %> <% if gene.synonyms.present? %><span class="synonyms">(<%= gene.synonyms.gsub(/\|/, ", ") %>)</span><% end %><div class="name"><%= gene.name %></div></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
