<h2><%= @gene.symbol %> (<%= @gene.name %>)</h2>

<h3><%= pluralize(number_with_delimiter(@gene.articles_count), "Article")%></h3>

<ul class="articles">
<% @articles.each do |article| %>
  <li class="article"><%= checkmark(article.variations_count) %><%= link_to(article.title, article, :class => "title") %> <%= validated?(article, current_user) %></li>
<% end %>
</ul>

<%= paginate @articles %>