<!DOCTYPE html>
<html>
<head>
  <title>CEMU</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if Rails.env == 'production' and ENV['GOOGLE_ANALYTICS_UA'].present? %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= ENV['GOOGLE_ANALYTICS_UA'] %>']);
    <% if ENV['GOOGLE_ANALYTICS_DOMAIN'].present? %>_gaq.push(['_setDomainName', '<%= ENV['GOOGLE_ANALYTICS_DOMAIN'] %>']);<% end %>
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <% end %>
</head>
<body class="<%= controller.controller_name %>">
  <header>


    <h1><%= link_to_unless_current "CEMU", root_path %></h1>

    <ul id="navigation">
      <li><%= link_to_unless(controller.controller_name == "articles" && controller.action_name == "index", "Articles", articles_path) %></li>
      <li><%= link_to_unless(controller.controller_name == "genes" && controller.action_name == "index", "Genes", genes_path) %></li>
      <li><%= link_to_unless(controller.controller_name == "variation_types" && controller.action_name == "index", "Variation Types", variation_types_path) %></li>
    </ul>
    <ul id="auth">
    <% if current_user %>
      <li>Welcome, <%= current_user.name %>! [<%= link_to "Sign Out", signout_path %>]</li>
    <% else %>
      <li><%= link_to "Sign In with Google Account", "/auth/google" %></li>
    <% end %>
    </ul>
  </header>
    
<% flash.each do |name, msg| -%>
<%= content_tag :div, msg, :id => "flash_#{name}", :class => "message" if msg.is_a?(String) %>
<% end %>

<%= yield %>

</body>
</html>
